# User Configurable Options
PROJECT_ROOT=/Users/amedhi/projects/Codes/vmc++

# Building the cmc++ lib
#-------------------------------------------------------------
# 1. Set compiler option
VMC_CXX=clang++ -std=c++11 # Clang compiler 
#VMC_CXX=g++ -std=c++11 # GNU GCC compiler

ifndef VMC_CXX
$(error Makefile variable VMC_CXX not defined in options.mk; please define it.)
endif

#-------------------------------------------------------------
# preprocessor directiives
VMC_CPPFLAGS=#-DREAL_WAVEFUNCTION #-DEIGEN_NO_DEBUG


#-------------------------------------------------------------
# 2. Compile flag options
# Flags to give the compiler for "release mode"
VMC_OPTFLAGS=-Wall -O3
#VMC_OPTFLAGS=-Wall -pg
#VMC_OPTFLAGS=-DDEBUG_MODE -g -Wall -pedantic
# Flags to give the compiler for "debug mode"
VMC_DEBUGFLAGS=-DDEBUG_MODE -g -Wall -pedantic

#-------------------------------------------------------------
# 3. Boost and Eigen library
# Flags to give the compiler for "release mode"

BOOST_INCLUDE=-I/usr/local/include
EIGEN_INCLUDE=-I/usr/local/include
#BOOST_LIBS=-lboost_system -lboost_filesystem  
#BOOST_LDFLAGS=-L/usr/local/lib

#EIGEN_USE_MKL=EIGEN_USE_MKL_ALL
MKL_INCLUDE=-I/opt/intel/mkl/include/intel64/lp64
MKL_LDFLAGS=-L/opt/intel/mkl/lib
MKL_LIBS=-lmkl_blas95_lp64 -lmkl_lapack95_lp64 -lmkl_intel_lp64 -lmkl_sequential -lmkl_core

#NLOPT_INCLUDE=-I/Users/amedhi/projects/Codes/vmc++/libs/include
#NLOPT_LDFLAGS=-L/Users/amedhi/projects/Codes/vmc++/libs/lib
#NLOPT_LIBS=-lnlopt

INCLUDE = $(BOOST_INCLUDE) #$(MKL_INCLUDE)
ifneq ($(BOOST_INCLUDE), $(EIGEN_INCLUDE))
INCLUDE += $(EIGEN_INCLUDE)
endif

#ifeq ($(EIGEN_USE_MKL), USE_INTEL_MKL_ALL)
#INCLUDE += $(MKL_INCLUDE)
#endif

VMC_CXXBFLAGS=$(VMC_OPTFLAGS) $(VMC_CPPFLAGS) $(INCLUDE) $(NLOPT_INCLUDE)
VMC_BLDFLAGS=$(BOOST_LDFLAGS) $(NLOPT_LDFLAGS)  #$(MKL_LDFLAGS)
VMC_BLIBS=$(BOOST_LIBS) $(NLOPT_LIBS)  #$(MKL_LIBS)
#ifeq ($(EIGEN_USE_MKL), USE_INTEL_MKL_ALL)
#VMC_CXXBFLAGS += -D$(EIGEN_USE_MKL)
#VMC_BLDFLAGS += $(MKL_LDFLAGS)
#VMC_BLIBS += $(MKL_LIBS)
#endif

#-------------------------------------------------------------
# 4. Where to put the 'cmc' library & the includes
PREFIX=$(PROJECT_ROOT)
BUILD_DIR=$(PREFIX)/build
VMC_LIBDIR=$(PREFIX)/lib
VMC_INCLUDE=$(PREFIX)/include
VMC_CXXFLAGS= $(VMC_OPTFLAGS) $(INCLUDE) -I$(VMC_INCLUDE)
VMC_LDFLAGS=$(BOOST_LDFLAGS) -L$(VMC_LIBDIR)
VMC_LIBS=$(BOOST_LIBS) -lvmc++

#-------------------------------------------------------------
